/* ==========================================================================
  Tracker
  ========================================================================== */
$module: 'tracker';

$tracker-height:     300px;
$tracker-pane:       15%;

.#{$module} {
  @extend %center;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: $dark-grey;
  border: 1px solid $black;
  box-shadow: 3px 3px 3px rgba($black, 0.05);

  /* ==========================================================================
  Elements
  ========================================================================== */
  &__preview, &__player, &__track {
    display: flex;

    > * {
      &:first-child {
        flex: 1 25%;
        border-right: 1px solid $black;
      }

      &:last-child {
        flex: 1 75%;
      }
    }
  }

  // Preview
  &__preview {
    height: 70%;
    border-bottom: 1px solid $black;
  }

  // Player
  &__player {
    height: 30%;
    overflow: visible;

    &__controls {

    }

    &__timecode {
      position: relative;
      height: 100%;
    }

    &__indicator {
      @extend %before-after;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 999;
      padding: 0 0 25px;
      width: 1px;
      height: 100%;
      cursor: pointer;
      background-color: $aqua;

      &:before {
        @extend %center-horizontally;
        position: relative;
        top: -1px;
        display: block;
        width: 8px;
        height: 12px;
        background-color: $aqua;
      }

      &:after {
        @extend %center-horizontally;
        top: 10px;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $aqua;
      }
    }
  }

  // Track
  &__track {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    border-top: 1px solid $black;

    &__title {
      padding: 0 0 0 $gutter-sm;
      line-height: 25px;
    }

    &__timeline {
      position: relative;
    }

    &__keyframe {
      @extend %center;
      width: 10px;
      height: 10px;
      transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
      background-color: $aqua;
      border: 1px solid $black;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
      cursor: pointer;
    }
  }

  /* ==========================================================================
  Modifiers
  ========================================================================== */
}
