/* ==========================================================================
  Tracker
  ========================================================================== */
$module: 'tracker';

$tracker-height:     300px;
$tracker-pane:       15%;

.#{$module} {
  // @extend %center;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: $dark-grey;
  border: 1px solid $black;
  box-shadow: 3px 3px 3px rgba($black, 0.05);

  /* ==========================================================================
  Elements
  ========================================================================== */
  &__preview, &__player, &__track {
    display: flex;

    > * {
      &:first-child {
        flex: 1 20%;
        border-right: 1px solid $black;
      }

      &:last-child {
        flex: 1 80%;
      }
    }
  }

  // Preview
  &__preview {
    height: 60%;
    border-bottom: 1px solid $black;

    &__output {
      margin: 0;
      padding: $gutter-sm;
      overflow-x: hidden;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
        transform: translateX(10px)
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0,0,0,0.25);
        transform: translateX(-10px)
      }
    }
  }

  // Player
  &__player {
    height: 40%;

    &__playlist {
      position: relative;
      height: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

      > li {
        position: relative;
        width: 100%;
        padding: 0 $gutter-sm;
        line-height: 25px;
        //border-bottom: 1px solid $black;
        cursor: pointer;
        @include rem(font-size, $h6-size);

        &:hover, &.active {
          background-color: $blue;
        }

        input {
          width: 100%;
          margin: 0;
          padding: 0;
          font-family: $font-family-sans-serif;
          color: $white;
          background-color: transparent;
          border: none;
          @include rem(font-size, $h6-size);
        }

        &:last-child {
          position: absolute;
          left: 0;
          bottom: 0;
          border: 0;
          border-top: 1px solid $black;
          background-color: $grey;
          text-align: center;
          z-index: 9999;
        }
      }
    }

    &__timecode {
      position: relative;
      height: 100%;
    }

    &__indicator {
      @extend %before-after;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 999;
      padding: 0 0 25px;
      width: 1px;
      height: 100%;
      cursor: pointer;
      background-color: $aqua;

      &:before {
        @extend %center-horizontally;
        position: relative;
        top: -1px;
        display: block;
        width: 8px;
        height: 12px;
        background-color: $aqua;
      }

      &:after {
        @extend %center-horizontally;
        top: 10px;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $aqua;
      }
    }
  }

  // Track
  &__track {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    border-top: 1px solid $black;

    &__title {
      padding: 0 0 0 $gutter-sm;
      line-height: 25px;
    }

    &__timeline {
      position: relative;
    }

    &__keyframe {
      @extend %center-vertically;
      left: -999px;
      width: 10px;
      height: 10px;
      transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
      background-color: $aqua;
      border: 1px solid $black;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
      cursor: pointer;
      transition: 0.5s background-color $ease-out-expo, 0.5s box-shadow $ease-out-expo;

      &--active {
        background-color: $yellow;
        box-shadow: 0 0 5px rgba($yellow, 0.5);
        z-index: 9999;
      }
    }
  }

  /* ==========================================================================
  Modifiers
  ========================================================================== */
}
